$dark-blue: hsl(209, 23%, 22%);
$dark-mode-blue: hsl(207, 26%, 17%);
$dark-blue-lightText: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$ligh-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$small-font: 300;
$medium-font: 600;
$large-font: 800;

$box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


